apiVersion: apps/v1
kind: Deployment
metadata:
  name: shrek-deployment
  labels:
    app: shrek-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: shrek-deployment
  strategy: {}
  template:
    metadata:
      labels:
        app: shrek-deployment
    spec:
      containers:
      - image: nginx
        name: nginx
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 1
            memory: 256Mi
          requests:
            cpu: 0.5
            memory: 128Mi
